body {
  margin: 0;
  background-attachment: fixed;
  padding-top: 10%;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1.5px solid skyblue;
  background-color: #262626de;
  overflow: auto;
  z-index: 1;
}

.trans {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
  font-family: poppins;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0 10px;
  color: #fff;
}

.home {
  float: right;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  font-family: poppins;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0 10px;
  color: #fff;
  transition: all 1s;
}


.hidden {
  display: none;
}

.footer-gray {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #EFEFEF;
  background-image: url(./footer.png);
  background-size: cover;
}

.footer-custom {
  border-top: 1.5px solid rgb(145, 221, 251);
  color: #888;
  font: normal normal 12px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  max-width: 1008px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px;
  text-align: center;
}

footer {
  width: 100%;
}

.flex-basis-30 {
  flex-basis: 30% !important;
}

.flex-basis-60 {
  flex-basis: 60% !important;
}

.mp-0 {
  margin: 0 !important;
}

.w-150 {
  width: 150% !important;
}

.pr {
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-30%);
}

.entry-anim {
  opacity: 0;
  animation: entry-anim 1s forwards;
}


@keyframes entry-anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.h-max {
  height: 200vh !important;
}


.txt-shadow {
  text-shadow: 2px 2px 2px black;
}

.w-10 {
  width: 10% !important;
}

.f-b-40 {
  flex-basis: 40%;
}

.f-b-60 {
  flex-basis: 60%;
}

.f-b-50 {
  flex-basis: 50%;
}


.tt-50 {
  transform: translateY(70%);
}

i {
  cursor: pointer;
}